.contenedor {
    display: flex;
    justify-content: right;
    
}

.imagen {

    width: 350px;
}

.contenedor {
    display: flex;
    justify-content: right;
}

.contenedor { 
    display: flex;
    justify-content: right;
}

.contenedor { 
    display: flex;
    justify-content: right;
}


.contenedor { 
    display: flex;
    justify-content: right;
}
.imagen {

    width: 230px;
}





